@font-face {
  font-family: AirMillhouse;
  src: url("../assets/font/air_millhouse_italic.eot");
  src:
    local("Air Millhouse Italic"),
    local("AirMillhouse-Italic"),
    url("../assets/font/air_millhouse_italic.eot") format("embedded-opentype"),
    url("../assets/font/air_millhouse_italic.woff") format("woff"),
    url("../assets/font/air_millhouse_italic.woff2") format("woff2"),
    url("../assets/font/air_millhouse_italic.ttf") format("truetype");
  font-style: italic;
}