.garage__controls__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  
  &_race,
  &_reset,
  &_generate {
    @include button();
    border-radius: 0.5rem;

    &:hover {
      transform: scale(1.05);
    }
  }
}
